.accordion--wrap {
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media screen and (max-width: 950px) {
  .accordion--wrap {
    padding: 1em 1em 4em 1em;
  }
}

.accordion--wrap h2 {
  font-size: 3rem;
  margin-bottom: 1em;
}

@media screen and (max-width: 950px) {
  .accordion--wrap h2 {
    margin-bottom: 0.5em;
    text-align: center;
  }
}

.accordion--wrap .wrap {
  width: 80%;
}

@media screen and (max-width: 950px) {
  .accordion--wrap .wrap {
    width: 100%;
  }
}

.accordion--wrap .accordion {
  background-color: white;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  padding: 1em 0;
  -webkit-transition: 0s;
  transition: 0s;
  font-size: 1.6rem;
  position: relative;
  color: #787887;
  font-weight: 400;
}

@media screen and (max-width: 950px) {
  .accordion--wrap .accordion {
    font-size: 1.4rem;
  }
}

.accordion--wrap .accordion:hover {
  color: #f47c57;
}

.accordion--wrap .accordion::after {
  content: url("../images/icon-arrow-down.svg");
  position: absolute;
  right: 0;
}

.accordion--wrap .accordion.rotate::after {
  content: url("../images/icon-arrow-down.svg");
  position: absolute;
  right: 0;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.accordion--wrap .accordion.display {
  font-weight: 700;
  color: #4a4b5e;
}

.panel {
  padding: 0;
  max-height: 0;
  overflow: hidden;
  -webkit-transition: max-height 0.25s ease-out;
  transition: max-height 0.25s ease-out;
}

.panel p {
  padding: 0 0 1em 0;
  line-height: 1.6;
  color: #787887;
  font-size: 1.4rem;
  padding-right: 1.5em;
}

@media screen and (max-width: 950px) {
  .panel p {
    line-height: 1.4;
    font-size: 1.2rem;
  }
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 100%;
  font-size: 62.5%;
  background: -webkit-gradient(linear, left top, left bottom, from(#af67e9), to(#6565e7)) no-repeat;
  background: linear-gradient(#af67e9, #6565e7) no-repeat;
  background-size: cover;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  height: 100%;
  font-family: "Kumbh Sans", Arial, Helvetica, sans-serif;
  font-size: 1.2rem;
  padding: 4em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

@media screen and (max-width: 950px) {
  body {
    min-height: 100vh;
    height: unset;
    padding: 2em 2em 2em 2em;
  }
}

hr {
  color: rgba(231, 231, 233, 0.479);
}

.accordion-container {
  position: relative;
  width: 100%;
  height: 100%;
  max-width: 950px;
  max-height: 550px;
  background: white;
  border-radius: 25px;
  -webkit-box-shadow: 0 20px 20px 10px rgba(0, 0, 0, 0.281);
          box-shadow: 0 20px 20px 10px rgba(0, 0, 0, 0.281);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

@media screen and (max-width: 950px) {
  .accordion-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    max-height: 100%;
    height: auto;
    margin-top: 10em;
    padding: 0 1em 1em 1em;
  }
}

.accordion-container .box-img {
  position: absolute;
  top: 225px;
  left: -95px;
  z-index: 999;
}

@media screen and (max-width: 950px) {
  .accordion-container .box-img {
    display: none;
  }
}

.accordion-container .mobile-images {
  width: 100%;
  height: 100%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.accordion-container .mobile-images .hero-img-mobile {
  -webkit-transform: translate(-5%, -35%);
          transform: translate(-5%, -35%);
  display: none;
}

@media screen and (max-width: 950px) {
  .accordion-container .mobile-images .hero-img-mobile {
    display: block;
  }
}

.accordion-container .mobile-images .shadow-img-mobile {
  position: absolute;
  display: none;
  top: -5px;
}

@media screen and (max-width: 950px) {
  .accordion-container .mobile-images .shadow-img-mobile {
    display: block;
  }
}

.accordion-container .accordion-img--wrap {
  height: 100%;
  width: 100%;
  position: relative;
  overflow: hidden;
}

@media screen and (max-width: 950px) {
  .accordion-container .accordion-img--wrap {
    height: 115px;
    overflow: visible;
  }
}

.accordion-container .accordion-img--wrap .hero-img {
  position: absolute;
  left: -75px;
  top: 0px;
  -webkit-transform: translateY(25%);
          transform: translateY(25%);
}

@media screen and (max-width: 950px) {
  .accordion-container .accordion-img--wrap .hero-img {
    display: none;
  }
}

.accordion-container .accordion-img--wrap .shadow-img {
  position: absolute;
  top: -275px;
  left: -575px;
}

@media screen and (max-width: 950px) {
  .accordion-container .accordion-img--wrap .shadow-img {
    display: none;
  }
}
/*# sourceMappingURL=styles.css.map */